@charset "UTF-8";

/* 全体のリセット: すべての要素の余白とパディングをリセット */
* {
  margin: 0;
  padding: 0;
}

/* フォントの設定: 特定のフォントを使用するクラスの定義 */
.yuji-mai-regular {
  font-family: "Yuji Mai", serif; /* Yuji Maiフォントを使用 */
}

.rocknroll-one-regular {
  font-family: "RocknRoll One", sans-serif; /* RocknRoll Oneフォントを使用 */
}

.hina-mincho-regular {
  font-family: "Hina Mincho", serif; /* Hina Minchoフォントを使用 */
}

header {
  width: 100%; /* ヘッダーの幅を画面全体に設定 */
  padding: 0; /* 内側の余白をなくす */
  background-color: #CFB06A; /* 背景色 */
  display: flex; /* フレックスボックスで配置 */
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: space-between; /* 子要素の間にスペースを配置 */
  box-sizing: border-box; /* パディングを含むボックスサイズ */
  position: fixed; /* ヘッダーを固定 */
  top: 0; /* 画面の上端に固定 */
  left: 0; /* 画面の左端に固定 */
  z-index: 1000; /* 他の要素の上に表示 */
}

/* 見出しのスタイル */
.headline {
  font-family: 'RocknRoll One', sans-serif; /* フォント設定 */
  margin: 0; /* 外側の余白をなくす */
  padding: 0 2em; /* 左右に20pxの内側余白を追加 */
  text-align: start; /* 左揃え */
  font-size: 1.5em; /* フォントサイズ */
  color: #3A555F; /* テキストの色 */
}

/* ナビゲーションリストのスタイル */
.nav-list {
  text-align: end; /* 右揃え */
  margin: 0; /* 外側の余白をなくす */
  padding: 0 2.5em; /* 左右に30pxの内側余白を追加 */
  display: flex; /* フレックスボックスで配置 */
  align-items: center; /* 垂直方向の中央揃え */
  list-style: none; /* リストマーカーを非表示 */
}

/* ナビゲーションリストアイテムのスタイル */
.nav-list-item {
  font-family: 'Yuji Mai', serif; /* フォント設定 */
  margin: 0 0.5em; /* 左右に10pxの外側余白を追加 */
  color: #3A555F; /* テキストの色 */
  font-size: 2em; /* フォントサイズ */
  cursor: pointer; /* ホバー時にポインタを表示 */
}

.nav-list-item a {
  text-decoration: none; /* テキストの下線を消す */
  color: inherit; /* 親要素の色を継承 */
}

/* メディアクエリでレスポンシブデザインを実装 */
@media (max-width: 950px) {
  header {
    flex-direction: column; /* ヘッダー内の要素を縦方向に配置 */
    
  }

  .headline {
    padding: 0 2em; /* 内側余白を調整 */
    font-size: 3vw; /* ビューポート幅に基づいてフォントサイズを設定 */
  }

  .nav-list {
    padding: 0 1em; /* 内側余白を調整 */
    justify-content: flex-start; /* 左揃え */
    flex-wrap: wrap; /* ナビゲーションリストを折り返し可能に */
  }

  .nav-list-item {
    margin: 1em 0; /* 各アイテムの上下に余白を追加 */
    font-size: 2.5vw; /* ビューポート幅に基づいてフォントサイズを設定 */
  }
}

/* メディアクエリでレスポンシブデザインを実装 */
@media (max-width: 950px) {

  header {
    flex-direction: column; /* ヘッダー内の要素を縦方向に配置 */
    
  }

  .headline {
    padding: 0 3em; /* 左右に余裕を持たせる */
    font-size: 1em; /* フォントサイズを縮小 */
  }

  .nav-list-item {
    margin: 0.5em 0; /* 上下にマージンを追加 */
    padding: 0 1em; /* 左右に余裕を持たせる */
    font-size: 0.9em; /* フォントサイズを調整 */
  }
}

/* メインコンテンツのスタイル */
main {
  position: relative; /* 相対位置に配置 */
  width: 100%; /* 幅を画面全体に設定 */
  min-height: 100vh; /* ビューポートの高さに応じた最小高さを設定 */
  padding: 4em 0em; /* 上下に50pxのパディング */
  background-color: #3A555F; /* 背景色 */
  text-align: left; /* 左揃え */
  box-sizing: border-box; /* パディングを含むボックスサイズ */
}

summary {
  margin: 0em 0em;
  padding: 0em 0em;
  text-align: left; /* テキストの左揃えを指定 */
}

.main-item {
}

/* テキストのスタイル */

.main-title {
  font-size: 1.5em; /* フォントサイズ */
  font-family: 'Hina Mincho', serif; /* フォント設定 */
  color: #CFB06A; /* テキストの色 */
  padding: 0em 3em; /* 内側の余白 */
  border-radius: 5px; /* 角を丸める */
  margin-bottom: 1em; /* 下部に余白を追加 */
}


.main-text-h2 {
  font-family: 'RocknRoll One', sans-serif; /* フォント設定 */
  font-size: clamp(1rem, 4vw, 3em); /* 最小,画面幅何%,最大*/
  margin: 1em 0; /* 外側の余白を上下に追加 */
  padding: 0 1em; /* 左右に内側余白を追加 */
  text-align: start; /* 左揃え */
  color: #CFB06A; /* テキストの色 */
}

.main-text-h3 {
  font-family: 'RocknRoll One', sans-serif; /* フォント設定 */
  font-size: clamp(1rem, 3vw, 2em); /* 最小,画面幅何%,最大*/
  margin: 1em 3em; /* 外側の余白を上下に追加 */
  padding: 0 1em; /* 左右に内側余白を追加 */
  text-align: start; /* 左揃え */
  color: #CFB06A; /* テキストの色 */
}
.indent {
  text-indent: 5vw; /* インデントの幅を指定 */
}

.main-text-h4 {
  font-family: 'Hina Mincho', serif; /* フォント設定 */
  font-size: clamp(0.8rem, 3vw, 2em); /* 最小,画面幅何%,最大*/
  margin: 0em 4vw; /* 外側の余白をなくす */
  padding: 0 1.5em; /* 左右に内側余白を追加 */
  text-align: start; /* 左揃え */
  margin: 10px 0; /* 上下に余白を追加 */
  color: #CFB06A; /* テキストの色 */
}

.main-text-h5 {
  font-family: 'Hina Mincho', serif; /* フォント設定 */
  font-size: clamp(0.5em, 2.5vw, 1em); /* 最小1em、最大2em、推奨2.5vwでフォントサイズを設定 */
  margin: 0em 5vw; /* 外側の余白をなくす */
  padding: 0.2em 0.2em; /* 左右に内側余白を追加 */
  text-align: start; /* 左揃え */
  margin: 10px 0; /* 上下に余白を追加 */
  color: #CFB06A; /* テキストの色 */
}

.main-text-Linktext {
  font-family: 'RocknRoll One', sans-serif; /* フォント設定 */
  font-size: 2em; /* フォントサイズ */
  margin: 1em 0em; /* 外側の余白を上下に追加 */
  padding: 0 1em; /* 左右に内側余白を追加 */
  text-align: center; /* 中央揃え */
  color: #CFB06A; /* テキストの色 */

}



/* ハイライトされたテキストのスタイル */
.highlight {
  font-size: clamp(2rem, 2.5vw, 3.2em); /* 最小,画面幅何%,最大*/
  transition: font-size 0.5s ease, color 0.5s ease; /* サイズ変化と色のアニメーション */
}

/* Main コンテナのスタイル */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

/* 画像のスタイル */
.main-image {
  width: 100%; /* 任意の幅を指定 */
  height: 20vw; /* 任意の高さを指定 */
  object-fit: cover; /* 画像が指定されたサイズに収まるように調整 */
  display: block;
  margin-bottom: 1em; /* 画像の下にスペースを追加（必要に応じて） */

}

/* グリッドコンテナのスタイル */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: calc(100% - 7vw);
  max-width: 200vh;
  margin: 0 auto;
  padding: 0;
}

/* グリッドアイテムのスタイル */
.grid-item {
  flex: 1 1 calc(33.333% - 20px);
  background-color: rgba(114, 136, 177, 0.2);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/* テキストスタイル */
.grid-item h5, 
.grid-item a {
  font-family: 'Hina Mincho', serif;
  font-size: clamp(0.5rem, 1.3vw, 2em);
  margin: 10px 0;
  padding: 0.2em 0vw;
  color: #CFB06A;
}

/* 画像のスタイル */
.grid-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block;
  align-self: flex-start; /* フレックスアイテムの上に揃える */
}

/* メディアクエリでのレスポンシブ対応 */
@media (max-width: 1500px) {
  .grid-item {
    flex: 1 1 calc(50% - 20px); /* 画面幅が1500px以下の場合、2列に */
  }
.grid-item h5,
.grid-item a  {
  font-size: clamp(0.5rem, 2vw, 2em); /* フレックスボックスに応じた動的なフォントサイズ */
  }
}

@media (max-width: 1024px) {
  .grid-item {
    flex: 1 1 100%; /* 画面幅が1024px以下の場合、1列に */
  }
.grid-item h5,
.grid-item a {
  font-size: clamp(0.5rem, 3vw, 2em); /* フレックスボックスに応じた動的なフォントサイズ */
  }
}


/* スライダーコンテナのスタイル */
.swiper-container {
  text-align: center; /* 中央揃え */
}

/* 画面サイズが1024ピクセル以下の場合 */
@media (max-width: 1024px) {
  .swiper-container {
    width: 100%; /* 幅を100%に設定 */
  }
}

/* 画面サイズが1024ピクセル以上の場合 */
@media (min-width: 1025px) {
  .swiper-container {
    width: 1024px; /* 幅を1024pxに設定 */
  }
}

/* スライダー内の画像のスタイル */
.swiper-container .swiper-slide img {
  aspect-ratio: 16/9; /* アスペクト比を16:9に設定 */
  max-width: 100%; /* 最大幅を100%に設定 */
  width: 100%; /* 幅を100%に設定 */
  height: auto; /* 高さを自動調整 */
}

/* スライダー内の各スライドのスタイル */
.swiper-container .swiper-slide {
  position: relative; /* 相対位置指定 */
  width: 100%; /* 幅を100%に設定 */
}

/* スライダー内の各スライドの比率を維持するための擬似要素 */
.swiper-container .swiper-slide:before {
  content: ""; /* 擬似要素の内容を空に(アスペクト比率維持のためのコード) */
  display: block; /* ブロック要素に設定 */
  aspect-ratio: 16/9;
}

/* スライダー内のiframe（YouTubeなどの埋め込み動画）のスタイル */
.swiper-container .swiper-slide iframe {
  position: absolute; /* 絶対位置指定 */
  top: 0; /* 上端を0に設定 */
  left: 0; /* 左端を0に設定 */
  width: 100%; /* 幅を100%に設定 */
  height: 100%; /* 高さを100%に設定 */
}

/* サムネイルコンテナのスタイル */
#thumbs {
  height: 20%; /* 高さを20%に設定 */
  box-sizing: border-box; /* ボックスサイズをボーダーボックスに設定 */
  padding: 10px 0; /* 上下のパディングを10pxに設定 */
}

/* サムネイル内の各スライドのスタイル */
#thumbs .swiper-slide {
  width: 20%; /* 幅を20%に設定 */
  height: 100%; /* 高さを100%に設定 */
  opacity: 0.2; /* 透明度を0.2に設定 */
  cursor: pointer; /* マウスカーソルをポインタに変更 */
}

/* サムネイルの擬似要素をリセット */
#thumbs .swiper-slide:before {
  content: none; /* 擬似要素の内容を削除 */
}

/* アクティブなサムネイルスライドのスタイル */
#thumbs .swiper-slide-active {
  opacity: 1; /* 透明度を1に設定（完全に不透明） */
}



/*著作権表示 */
.main-copyright {
  font-family: 'Yuji Mai', serif; /* フォント設定 */
  text-align: center; /* 中央揃え */
  font-size: 1em; /* フォントサイズ */
  color: #CFB06A; /* テキストの色 */
  margin: 10px 0 0 0; /* 上に余白を追加 */
}

/* フッターのスタイル */
footer {
  position: fixed; /* フッターを固定 */
  bottom: 0; /* 画面の下部に配置 */
  right: 0; /* 画面の左端に配置 */
  width: 50%; /* フッターの幅を画面全体に設定 */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* 上端に影を付ける */
  z-index: 1000; /* 他の要素の上に表示 */
  padding: 10px 0; /* 上下のパディング */
}

/* スマホの場合のスタイル */
@media (max-width: 1000px) {
  footer {
    width: 100%; /* スマホでは幅を100%に設定 */
    right: 0; /* 右端に配置 */
  }
}

.footer-text {
  display: flex; /* フレックスボックスで横並び */
  justify-content: end; /* 右揃え */
  align-items: center; /* 垂直方向の中央揃え */
  list-style: none; /* リストマーカーを非表示 */
  padding: 2% 4%; /* 内側の余白を設定 */
  margin: 0; /* 外側の余白をなくす */
  cursor: pointer; /* ホバー時にポインタを表示 */
}

.footer-text li {
  margin: 0 6px; /* 各リストアイテムの間にスペースを追加 */
  background-color: #CFB06A; /* 背景色 */
  border-radius: 10px; /* 角丸を設定 */
  padding: 5px; /* ボックス内の余白を設定 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
  transition: transform 0.3s ease, fill 0.3s ease, color 0.3s ease; /* スムーズな変化を適用 */
}

.footer-text li:hover {
  transform: translateY(-5px); /* ホバー時に上に移動 */
}

.footer-text li a {
  display: flex; /* フレックスボックスで中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  height: 100%; /* 高さを親要素に合わせる */
}

.footer-text li img,
.footer-text li svg {
  display: block; /* ブロック要素として表示 */
  max-width: 100%; /* 幅を最大100%に制限 */
  height: 50px; /* 高さを50pxに設定 */
}

.footer-text li svg:hover path {
  fill: #734876; /* SVGのパスのホバー時の色 */
}

